body{
    margin: 0px;

  background-color:rgb(1,1,53);
   
    
}
#mapid{
    height: 60vh;
}

nav{
  
    margin: 0px;
   background-image: url(bgheading.jpg);
   background-repeat: no-repeat;
    background-size: cover;
    /* background-color: midnightblue;  */
color: mintcream;
height: 15vh;
/* border: 2px solid red; */
}


.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vw;
    margin-top:1.5vh ;
    
}
#logo{
    height: 7vw;
    width: 7vw;
  float: left;
  margin-top: 10px;
}
h1{
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 0px;
}

#Mars{
   height: 7vw;
    width: 7vw;
    position: absolute;
    right: 1vh;
    top: 3vh;
    /* margin-top: 15px; */
}


#Mars:hover{
    box-shadow: 0px 0px 10px  rgb(252, 170, 170);
    border-radius: 70%;
}

#charts{
    width: 100vw;
    height: 60vh;
}
#maptemp{
    height: 40vh;
    width: 100vw;
}
.white{
    color: whitesmoke;
}