body{
    margin: 0px;
    background-image: url(bgheading.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#heading {
   background-image: url(bgheading.jpg);
    /* background-color: midnightblue;  */
color: mintcream;
height: 15vh;
font-size:300%;

}
#logo{
    height: 100px;
    width: 100px;
   position:absolute;
   left: 1vh;
}
h1{
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 0px;
}
form {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 0;
    /* background-image: linear-gradient(-90deg, floralwhite, azure); */
    background-color: rgb(1, 1, 54);
}

form input {
    padding: 5px;
    width: 20%;
    border-radius: 2px;
}

button {
    width: 150px;
    height: 40px;
    font-family: monospace;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(1, 1, 54);
    color: oldlace;
    border: 1px solid white;
}

button:hover {
    box-shadow: 0px 0px 30px 2px lightgrey;
}

.flex-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    background-image: url(bgheading.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#nasa-images img {
    max-height: 300px;
    max-width: 100%;
    min-height: 200px;
    margin: 20px;
}

#wait{
    color: white;
}
#Earth{
    height: 100px;
    width: 100px;
   position:absolute;
   right: 1vh;  
   top: 1vh; 
}
@media screen and (min-width: 300px) {
    #Earth {  position:absolute; top: 5vh; }
    
}
        @media screen and (min-width: 1000px) {
          #Earth {  position:absolute; top: 1vh; }
          
        }

#Earth:hover{
    box-shadow: 0px 0px 10px  rgb(200, 252, 170);
    border-radius: 70%;
}
